html,
body {
  margin: 0;
  padding: 0;
}

body {
  min-width: 1024px;
  margin: 0 auto;

  font: 20px "PT Mono";
  color: #ffffff;

  background: #da641a;
}

h1,
h2 {
  text-align: center;
  text-shadow: 5px 5px 0 rgba(0, 0, 0, 0.72);
}

button {
  margin-right: 20px;
  padding: 0 16px;

  font: bold 20px "PT Mono";
  line-height: 54px;

  background: #ffffff;
  border: 0;
}

*[tabindex]:focus, button:focus, input:focus {
  outline: none;
  box-shadow: 0 0 10px #fff000;
}

.hidden {
  display: none;
}

.section-title {
  position: relative;

  height: 52px;

  text-indent: -1000em;
}

.section-title img {
  position: absolute;
  top: 0;
  left: 50%;

  transform: translateX(-50%);
}

.invisible {
  display: none !important;
}

header {
  position: relative;

  padding-top: 80px;

  text-align: center;

  background: #2b5cfc;
  background: linear-gradient(180deg, #0000ff, #94c6fd);
  border-bottom: solid 8px #1cb34d;
}

.header-title {
  height: 101px;
  margin-bottom: 30px;
}

.header-clouds {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 0;

  height: 363px;

  background: url("../img/clouds.png") top center repeat-x;
}

.header-fence {
  position: absolute;
  bottom: 0;
  left: 50%;

  width: 91px;
  height: 48px;
  margin-left: -400px;

  background: url("../img/fence.gif") no-repeat;
}

.header-tree {
  position: absolute;
  bottom: 0;
  left: 50%;

  width: 120px;
  height: 137px;
  margin-left: 300px;

  background: url("../img/tree.gif") no-repeat;
}

.header-soon {
  position: relative;
  z-index: 1;

  font-size: 26px;
  color: #ffffff;
  color: rgba(255, 255, 255, 0.6);
}

.header-title {
  position: relative;
  z-index: 1;

  margin: 0 0 28px;
  padding: 0;

  font-size: 69px;
}

.header-description {
  position: relative;
  z-index: 1;

  width: 620px;
  margin: 0 auto;

  font-size: 20px;
  line-height: 1.5;
}

.demo {
  width: 700px;
  height: 300px;
  margin: 0 auto;
}

main {
  padding-top: 80px;

  background: linear-gradient(180deg, #ae340a, #fcb945);
}

.main-section {
  box-sizing: border-box;
  margin: 0 auto 60px;
  padding: 10px;
}

.photogallery {
  position: relative;

  width: 1000px;
  padding: 10px 0;

  text-align: center;
}

.photogallery-title {
  margin-bottom: 35px;
}

.photogallery-image {
  display: inline-block;
  width: 292px;
  height: 271px;
  margin: 21px 8px;
  overflow: hidden;

  border: 0;
  box-shadow: 7px 10px 0 rgba(0, 0, 0, 0.30), 0 0 20px rgba(255, 255, 190, 0.3);
}

.reviews {
  box-sizing: border-box;
  width: 670px;
}

.reviews-title {
  margin-bottom: 30px;
}

.reviews-filter {
  margin-bottom: 60px;

  white-space: nowrap;
}

.reviews-filter-item {
  display: inline-block;
  margin-right: 50px;

  font-weight: bold;
  font-size: 22px;
  vertical-align: middle;
  color: #ffffff;

  border-bottom: dotted 2px #ffffff;
  cursor: pointer;
}

.reviews-filter input {
  position: absolute;
  left: -1200em;
}

input[type=radio]:checked + .reviews-filter-item {
  margin-right: 35px;
  margin-left: -15px;
  padding: 0 15px;

  line-height: 36px;
  color: #000000;

  background: #ffffff;
  border-bottom: solid 2px;
  box-shadow: 3px 3px 0 #000000;
  cursor: auto;
}

.review {
  position: relative;

  margin-bottom: 75px;
  padding-left: 155px;

  font-size: 17px;
  line-height: 1.4;
}

.reviews-list-loading,
.reviews-load-failure {
  padding-bottom: 40px;

  text-align: center;
}

.reviews-list-loading:after {
  content: "Загрузка...";
}

.reviews-load-failure:after {
  content: "";

  display: inline-block;
  width: 40px;
  height: 40px;

  background: url("../img/icon-cross.png") no-repeat center;
}

.review-load-failure .review-author {
  visibility: hidden;
}

.review-load-failure .review-author:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  display: block;

  background: url("../img/icon-cross.png") center no-repeat;
  border: solid 1px rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  visibility: visible;
  opacity: 0.4;
}

.review-rating {
  display: block;
  width: 30px;
  height: 30px;

  background: url("../img/icon-star.png") top left repeat-x;
}


.review-rating-one {
  width: 40px;
}
.review-rating-two {
  width: 80px;
}
.review-rating-three {
  width: 120px;
}
.review-rating-four {
  width: 160px;
}
.review-rating-five {
  width: 200px;
}

.review-author {
  position: absolute;
  top: 5px;
  left: 0;

  width: 124px;
  height: 124px;

  border-radius: 50%;
}

.review-quiz {
  font-size: 15px;
  color: #ffffff;
  color: rgba(255, 255, 255, 0.5);
}

.review-quiz-answer {
  display: inline-block;
  margin: 0 5px;

  vertical-align: middle;
  text-decoration: underline;

  cursor: pointer;
}

.review-quiz-answer-active {
  color: #ffffff;
  text-decoration: none;

  cursor: default;
}

.reviews-controls {
  text-align: center;
}

.reviews-controls-item {
  display: inline-block;

  vertical-align: middle;

  cursor: pointer;
}

.reviews-controls-more {
  margin-right: 26px;
  padding: 0 30px;

  font-weight: bold;
  font-size: 20px;
  line-height: 55px;
  color: #000000;

  background: #ffffff;
  box-shadow: 5px 5px 0 rgba(0, 0, 0, 1);
}

.reviews-controls-new {
  padding: 0 18px;

  font-size: 18px;
  line-height: 36px;
  color: #000000;

  border: solid 1px;
}

footer {
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  color: #000000;
}

footer a {
  color: #000000;
}

footer p {
  margin-bottom: 0;
  padding-bottom: 20px;
}

.overlay-container,
.overlay-gallery {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;

  overflow: auto;

  background: rgba(0, 0, 0, 0.8);
}

.review-form {
  position: relative;

  width: 510px;
  margin: 100px auto;
  padding: 0 10px;

  text-align: left;
}

.review-form-title {
  font-family: "PT Mono";
  text-align: left;
}

.overlay-gallery-close,
.review-form-close {
  position: absolute;
  top: -5px;
  right: 0;

  padding: 0 10px;

  font-size: 45px;
  text-align: center;

  cursor: pointer;
}

.review-form-group {
  margin: 0;
  margin-bottom: 15px;
  padding: 0;

  border: 0;
}

.review-form-group-mark {
  min-height: 55px;
  margin-left: -15px;
}

.review-form-group-mark .review-form-label {
  margin-left: 15px;
}

.review-form-group-mark input[type=radio] {
  position: absolute;

  visibility: hidden;
}

.review-mark-label {
  background: none;
  color: #ffffff;
  cursor: pointer;
  height: 30px;
  margin: 0 10px;
  position: absolute;
  text-indent: -100em;
  width: 40px;
}

.review-mark-label-1 { width: 40px; }
.review-mark-label-2 { width: 80px; }
.review-mark-label-3 { width: 120px; }
.review-mark-label-4 { width: 160px; }
.review-mark-label-5 {
  background: url('../img/icon-star-inactive-form.png') repeat-x;
  width: 200px;
}

input[type=radio]:checked + .review-mark-label {
  background: url('../img/icon-star.png') repeat-x;
}

.review-form-label {
  font-size: 20px;
  line-height: 1.6;
}

.review-form-field {
  padding: 5px;

  font: 20px/1.5 "PT Mono";
  color: #000000;

  background: #ffffff;
  border: 0;
}

.review-form-field-name {
  width: 15em;
}

.review-form-controls {
  white-space: nowrap;
}

.review-form-control {
  display: inline-block;

  vertical-align: top;
}

.review-fields {
  font-size: 16px;
  color: #ffffff;
  color: rgba(255, 255, 255, 0.6);
  white-space: normal;
}

.review-fields-label {
  text-decoration: underline;

  cursor: pointer;
}

.footer-link {
  position: relative;

  display: block;
  width: 250px;
  margin: 0 auto;
  padding-top: 50px;
}

.footer-link:hover {
  opacity: 0.6;
}

.footer-link img {
  position: absolute;
  top: 0;
  left: 50%;

  transform: translateX(-50%);
}

.setup {
  width: 800px;

  position: absolute;
  left: 50%;
  top: 100px;
  transform: translateX(-50%);

  background: #89a1fd;
  box-shadow: 10px 10px 0 rgba(0, 0, 0, 0.25);
  box-sizing: border-box;
  color: #000;

  z-index: 3;
}

.setup-open-icon {
  position: absolute;
  top: 100px;
  right: 100px;

  cursor: pointer;

  z-index: 2;
}

.setup-open-icon:hover {
  box-shadow: 5px 5px 0 rgba(0, 0, 0, 0.5);
}

.setup-title {
  padding: 20px;
}

.setup-user {
  display: inline-block;
}

.setup-open-icon,
.setup-user-pic {
  width: 40px;
  height: 40px;

  display: inline-block;

  margin-right: 5px;
  margin-top: -10px;
  border-radius: 40px;
  overflow: hidden;
  vertical-align: middle;
}

.setup-user-name {
  background: transparent;
  border: 0;
  color: #fff;

  font-family: 'PT Mono', serif;
  font-size: 30px;
  font-weight: 900;

  width: 300px;
}

.setup-user-name:focus {
  border-bottom: solid 1px #000;
  outline: none;
}

.setup-close {
  float: right;

  top: 20px;
  right: 20px;

  font-size: 70px;
  color: #000;
  cursor: pointer;

  transform: translateY(-0.3em);
}

.setup-artifacts-shop {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;

  padding-top: 20px;
  padding-bottom: 20px;

  width: 716px;
  height: 65px;
}

.setup-player {
  padding-top: 20px;
  position: relative;

  height: 300px;
  min-height: 300px;
}

.setup-wizard {
  width: 250px;
  height: 250px;

  position: absolute;
  bottom: 0;
  left: 50px;
}

.setup-fireball-wrap {
  position: absolute;
  left: 300px;
  top: 0;

  width: 75px;
  height: 75px;

  background: #ee4830;
}

.setup-fireball {
  background: url('../img/fireball-mask.png');
  background-size: 75px 75px;
  width: 75px;
  height: 75px;
}

.setup-artifacts {
  position: absolute;
  bottom: 0;
  right: 46px;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  width: 260px;
  height: 260px;
}

.setup-artifacts-cell {
  width: 65px;
  height: 65px;

  background: rgba(0, 0, 0, 0.1);
  border: solid 1px rgba(255, 255, 255, 0.5);

  box-sizing: border-box;
}

.setup-artifacts-cell:last-child {
  border-right-width: 1px;
}

.setup-footer {
  border-top: 10px solid #1cb34d;
  padding-bottom: 20px;

  background-color: #da641a;
}

.setup-similar-title {
  color: #fff;

  margin-left: 20px;
}

.setup-similar-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  margin-left: 20px;
  margin-right: 20px;

  flex-wrap: nowrap;
}

.setup-similar-label {
  margin: 5px;

  color: #fff;

}

.setup-similar-content {
  position: relative;

  width: 150px;
  height: 150px;

  background-color: #414342;
}

.setup-similar-wizard {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;

  margin: 0 auto;

  width: 100px;
}

.setup-submit {
  display: block;
  margin: 20px auto 0;

  background: #1cb34d;
  color: #fff;
}

.setup-submit:disabled {
  opacity: 0.3;
}

.overlay-gallery {
  text-align: center;
}

.overlay-gallery-controls {
  margin: 100px 0;
}

.overlay-gallery-control {
  display: inline-block;
  width: 30px;
  height: 46px;

  vertical-align: middle;

  background: url("../img/arrows-sprite.png") no-repeat;
  cursor: pointer;
}

.overlay-gallery-control-right {
  background-position: -30px 0;
}

.overlay-gallery-preview {
  position: relative;

  display: inline-block;
  min-width: 300px;
  min-height: 300px;

  vertical-align: middle;

  font-size: 0;

  border: dotted 1px rgba(255, 255, 255, 0.2);
}

.overlay-gallery-preview-number {
  position: absolute;
  top: -1.5em;
  left: 0;

  font-weight: bold;
  font-size: 14px;
  color: #ffffff;
}
